

<div class="app16--header">
    <div class="app16-logo">
        <!-- <img> -->
        App16
    </div>
    <div class="app16--header--nav">
        <!-- Top Menu-->

        <top-menu></top-menu>
        
        <div class="app16--bottom-bar">
           <!-- Main Menu-->
            <main-menu></main-menu>           
            <!-- <div class="app16--search--bar">
                <input type="text" class="app16--search--box" placeholder="Search" >

                <button class="app16--search--btn">    
                    <span style="font-size: 1.5em; color: Tomato;">
                        <i class="fa fa-search" aria-hidden="true"></i>                     
                    </span>                              
                    
                </button>
            </div>     -->
        </div>        
    </div>
</div>



