<div class="app16--product--container">
<!-- <img [src]="(product.pImage)" width="250px" height="330px">
<p>Name: {{product.name}}</p>
<p>Price: {{ '$'+ product.price}}</p>
<p>Color: {{product.color}}</p>
<p>Discounted Price: {{getDiscountedPrice()}}</p>
<p>In Stock: {{product.inStock > 0 ? 'Only ' + product.inStock +' Product is available '  : 'Stock is Empty'}}</p>
<button [disabled]="addtoCart==0" (click)="removeProduct()">-</button>
<span class="app16--assCart">{{addtoCart}}</span>
<button [disabled]="addtoCart==product.inStock" (click)="addProduct()">+</button><br/>
<input (input)="onNameChange($event)">
<p>Name: {{Name}} </p> -->

<app-search (searchTextChanged)="setSearchText($event)"></app-search>

<product-list [searchText]="searchText"></product-list>

</div>



