<app-filter 
    [all]="totalProductCount" 
    [inStock]="totalProcuctInStock"
    [outOfStock]="totalProcuctOutOfStock"
    (selectedFilterRadioButtonChanged)="onFilterChanged($event)">
</app-filter>

<div class="app16-products-container">
    <!-- *ngIf="selectedFilterRadioButton === 'all' || p.is_in_inventory.toString() === selectedFilterRadioButton  " -->
    <div *ngFor="let p of products" (click)="selectedProduct = p" >
        <product  [product]="p" *ngIf="searchText ==='' || p.name.toLowerCase().includes(searchText)" > </product> 
                   
    </div>
   
</div>
